section {
  min-height: 30vh;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

h2 {
  margin-bottom: 2rem;
}

p.grey {
  color: #a7a7a7;
}

form {
  width: 100%;
}

.navbar-toggler-icon {
  background-image: url('/assets/images/menu.svg');
}

.btn {
  padding: 8px 20px;
}

.note {
  max-width: 600px;
  border: 1px solid #6c63ff;
  border-left: 10px solid #6c63ff;
  padding: 1rem;
  margin-bottom: 2rem;
}
